project_name                 = "gitops"
environment                  = "dev"
location                     = "westeurope"
resource_group_name          = "rg-gitops-dev-weu"
vnet_address_space           = "10.10.0.0/16"
apim_subnet_cidr             = "10.10.1.0/24"
aks_subnet_cidr              = "10.10.2.0/23"
private_endpoint_subnet_cidr = "10.10.4.0/24"
acr_sku                      = "Standard"
aks_private_cluster_enabled  = true
az_count                     = 1
apim_publisher_name          = "Quan Nguyen"
apim_publisher_email         = "quan@example.com"
aks_backend_private_ip       = "10.10.2.20"
aks_backend_port             = 80