project_name                 = "gitops"
environment                  = "prd"
location                     = "westeurope"
resource_group_name          = "rg-gitops-prd-weu"
vnet_address_space           = "10.30.0.0/16"
apim_subnet_cidr             = "10.30.1.0/24"
aks_subnet_cidr              = "10.30.2.0/23"
private_endpoint_subnet_cidr = "10.30.4.0/24"
acr_sku                      = "Premium"
aks_private_cluster_enabled  = true
az_count                     = 2
apim_publisher_name          = "Quan Nguyen"
apim_publisher_email         = "quan@example.com"
aks_backend_private_ip       = "10.30.2.20"
aks_backend_port             = 80